<div class="container my-5 text-start">
  <div class="row">
    <!-- Linke Spalte -->
    <div class="col">
      <p class="fw-bold">Company address:</p>
      <p>
        Rigidbody Games KLG <br>
        Stafflerstrasse 30d <br>
        5626 Hermetschwil <br>
        Switzerland
      </p>
      <p class="fw-bold">Represented by:</p>
      <p>
        Kevin Brenzikofer <br>
        Andreas Hasenfratz
      </p>
      <p class="fw-bold">Contact:</p>
      <p>
        EMail: <a href="mailto:rigidbodygames.klg&#64;gmail.com">rigidbodygames.klg&#64;gmail.com</a>
      </p>
      <p class="fw-bold">Commercial Register Entry:</p>
      <p>
        UID: CHE-181.502.033
      </p>
      <p class="fw-bold">Disclaimer</p>
      <p>The author assumes no responsibility for the correctness, accuracy, timeliness, reliability, or completeness of the information provided.</p>

      <p>Liability claims against the author for material or immaterial damages arising from access to, use, or non-use of the published information, misuse of the connection, or technical malfunctions are excluded.</p>

      <p>All offers are non-binding. The author expressly reserves the right to change, supplement, delete parts of the pages or the entire offering, or to temporarily or permanently discontinue publication without prior notice.</p>

      <p class="fw-bold">Liability for Links</p>
      <p>References and links to third-party websites are outside our area of responsibility. We reject any responsibility for such websites. Access and use of such websites are at the user’s own risk.</p>

    </div>
</div>
