<main class="px-3">
  <div class="text-center">
    <img src="/img/spellcaster_mockup_portrait.png" class="mb-3 mt-3 img-fluid" style="max-width: 300px" alt="Spellcaster Mockup" />
    <h1>Spellcaster (coming soon)</h1>
    <p class="lead">Explore different worlds with your wizard in our 2D mobile game.</p>
    <div class="d-inline-flex gap-2 mb-4">
      <p class="lead">Soon to be downloaded on Google Play and App Store</p>
      <!--<button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
      Call to action
      <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
    </button>
    <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
      Secondary link
    </button>-->
    </div>
  </div>
</main>
