<main class="px-3">
  <div class="text-center mb-4">
    <img src="/img/spellcaster/fulllogo_transparent_nobuffer.png" class="mb-3 mt-4 img-fluid" style="max-width: 300px" alt="Spellcaster Mockup" />
    <a href="https://apps.apple.com/ch/app/spellcaster-magic-adventure/id6742453306" class="d-inline-flex align-items-center px-4 mb-3" target="_blank">
      <img src="/img/App_Store_Badge_US.svg" class="img-fluid" style="width: 270px" alt="Get it in the AppStore" />
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.RigidbodyGames.Spellcaster" class="d-inline-flex align-items-center px-4" target="_blank">
      <img src="/img/GetItOnGooglePlay_Badge.png" class="img-fluid" alt="Get it on Google Play" />
    </a>
    <p class="lead mt-3 mb-4">Step into the magical world of Spellcaster – a 2D action-puzzle adventure by Rigidbody Games!</p>

    <iframe width="315" height="560"
            src="https://www.youtube.com/embed/zJCYdJdfndg"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
    </iframe>

    <div class="lead mt-3">
      <div class="mb-3">
        <div class="fs-1">🎯</div>
        Each level tests your aim, timing, and creativity.
      </div>

      <div class="mb-3">
        <div class="fs-1">💰</div>
        Earn gold by completing levels and invest it in new spells, enchanted wands, and mystical armor.
      </div>

      <div class="mb-3">
        <div class="fs-1">🧙‍♂️</div>
        The stronger your magic, the easier you'll overcome even the toughest challenges.
      </div>
    </div>

    <p class="lead mt-4">
      <a routerLink="/spellcaster-privacy" class="small">Privacy Policy</a><br>
      <a routerLink="/spellcaster-terms-of-service" class="small">Terms of Service</a>
    </p>
  </div>
</main>
